config:
  args: ["clearnode"]
  logLevel: info
  database:
    driver: postgres
    host: pgbouncer
    port: 5432
    name: clearnode_v1_rc
    user: clearnode_v1_rc_admin
  gcpSaSecret: gcp-kms-signer-sa
  envSecret: clearnode-secret-env
  extraEnvs: 
    CLEARNODE_DATABASE_MAX_OPEN_CONNS: "10"
    CLEARNODE_DATABASE_MAX_IDLE_CONNS: "2"
    CLEARNODE_DATABASE_CONN_MAX_LIFETIME_SEC: "3600"
    CLEARNODE_DATABASE_CONN_MAX_IDLE_TIME_SEC: "600"
    CLEARNODE_SIGNER_TYPE: "gcp-kms"
    CLEARNODE_GCP_KMS_KEY_NAME: "projects/ynet-stage/locations/europe-central2/keyRings/clearnode-signers-eu/cryptoKeys/v1-rc-a/cryptoKeyVersions/1"
    CLEARNODE_MAX_PARTICIPANTS: "32"
    CLEARNODE_MAX_SESSION_DATA_LEN: "1024"
    CLEARNODE_MAX_SIGNED_UPDATES: "0"
    CLEARNODE_MAX_SESSION_KEY_IDS: "256"

image:
  repository: ghcr.io/erc7824/nitrolite/clearnode
  tag: v1.0.0-rc.0

service:
  http:
    enabled: true
    port: 7824
    path: /ws

metrics:
  enabled: true
  podmonitoring:
    enabled: true
  port: 4242
  endpoint: "/metrics"

resources:
  limits:
    cpu: 2000m
    memory: 2Gi
    ephemeral-storage: 256Mi
  requests:
    cpu: 2000m
    memory: 2Gi
    ephemeral-storage: 256Mi

autoscaling:
  enabled: false

networking:
  externalHostname: clearnode-v1-rc.yellow.org
  tlsClusterIssuer: zerossl-prod
  gateway:
    enabled: false
  ingress:
    enabled: true
    className: nginx
    tls:
      enabled: true
    annotations:
      nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "10"
      nginx.ingress.kubernetes.io/proxy-buffering: "off"

imagePullSecret: ghcr-pull

stressTest:
  enabled: true
  pods:
    - name: get-config-1
      specs: ["get-config:10000:100"]
    - name: get-config-2
      specs: ["get-config:10000:100"]
    - name: get-config-3
      specs: ["get-config:10000:100"]
    - name: get-config-4
      specs: ["get-config:10000:100"]
    - name: get-config-5
      specs: ["get-config:10000:100"]
