config:
  args: ["clearnode"]
  logLevel: info
  database:
    driver: postgres
    host: postgresql.core
    port: 5432
    name: clearnet_prod
    user: clearnet_prod_admin
  envSecret: ""
  extraEnvs:
    CLEARNODE_LOG_LEVEL: "debug"
    POLYGON_CUSTODY_CONTRACT_ADDRESS: "0x6F71a38d919ad713D0AfE0eB712b95064Fc2616f"
    POLYGON_ADJUDICATOR_ADDRESS: "0x14980dF216722f14c42CA7357b06dEa7eB408b10"
    POLYGON_BALANCE_CHECKER_ADDRESS: "0x2352c63A83f9Fd126af8676146721Fa00924d7e4"
    WORLD_CHAIN_CUSTODY_CONTRACT_ADDRESS: "0x6F71a38d919ad713D0AfE0eB712b95064Fc2616f"
    WORLD_CHAIN_ADJUDICATOR_ADDRESS: "0x14980dF216722f14c42CA7357b06dEa7eB408b10"
    WORLD_CHAIN_BALANCE_CHECKER_ADDRESS: "0x6D3B5EFa1f81f65037cD842F48E44BcBCa48CBEF"
    WORLD_CHAIN_BLOCK_STEP: "499"
    FLOW_CUSTODY_CONTRACT_ADDRESS: "0x6F71a38d919ad713D0AfE0eB712b95064Fc2616f"
    FLOW_ADJUDICATOR_ADDRESS: "0x14980dF216722f14c42CA7357b06dEa7eB408b10"
    FLOW_BALANCE_CHECKER_ADDRESS: "0xa3f2f64455c9f8D68d9dCAeC2605D64680FaF898"
    FLOW_BLOCK_STEP: "499"
    BASE_CUSTODY_CONTRACT_ADDRESS: "0x490fb189DdE3a01B00be9BA5F41e3447FbC838b6"
    BASE_ADJUDICATOR_ADDRESS: "0x7de4A0736Cf5740fD3Ca2F2e9cc85c9AC223eF0C"
    BASE_BALANCE_CHECKER_ADDRESS: "0x3ba5A41eA17fd4950a641a057dC0bEb8E8ff1521"
    ETH_MAINNET_CUSTODY_CONTRACT_ADDRESS: "0x6F71a38d919ad713D0AfE0eB712b95064Fc2616f"
    ETH_MAINNET_ADJUDICATOR_ADDRESS: "0x14980dF216722f14c42CA7357b06dEa7eB408b10"
    ETH_MAINNET_BALANCE_CHECKER_ADDRESS: "0xb1f8e55c7f64d203c1400b9d8555d050f94adf39"
    LINEA_MAINNET_CUSTODY_CONTRACT_ADDRESS: "0x6F71a38d919ad713D0AfE0eB712b95064Fc2616f"
    LINEA_MAINNET_ADJUDICATOR_ADDRESS: "0x14980dF216722f14c42CA7357b06dEa7eB408b10"
    LINEA_MAINNET_BALANCE_CHECKER_ADDRESS: "0xF62e6a41561b3650a69Bb03199C735e3E3328c0D"
    MSG_EXPIRY_TIME: "60"

image:
  repository: ghcr.io/erc7824/nitrolite/clearnode
  tag: 0.0.2-rc.19

service:
  http:
    enabled: true
    port: 8000
    path: /

metrics:
  enabled: true
  podmonitoring:
    enabled: true
  port: 4242
  endpoint: "/metrics"

resources:
  limits:
    cpu: 100m
    memory: 256Mi
    ephemeral-storage: 100Mi
  requests:
    cpu: 100m
    memory: 256Mi
    ephemeral-storage: 100Mi

autoscaling:
  enabled: false

networking:
  externalHostname: clearnet.yellow.com
  tlsClusterIssuer: zerossl-prod
  gateway:
    enabled: false
  ingress:
    enabled: true
    className: nginx
    tls:
      enabled: true

imagePullSecret: ghcr-pull
