name: Push on main branch

on:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  test-clearnode:
    name: Test (Clearnode)
    uses: ./.github/workflows/test-go.yml

  test-forge:
    name: Test (Foundry)
    uses: ./.github/workflows/test-forge.yml

  # test-sdk:
  #   name: Test (SDK)
  #   uses: ./.github/workflows/test-sdk.yml
  #   with:
  #     project-path: 'sdk'
  #     project-name: 'SDK'

  # build-and-publish-sdk:
  #   needs: test-sdk
  #   name: Build and Publish (SDK)
  #   uses: ./.github/workflows/publish-sdk.yml
  #   secrets:
  #     npm-token: ${{ secrets.NPM_TOKEN }}

  build-and-publish-clearnode:
    name: Build and Publish (Clearnode)
    needs: test-clearnode
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      image-tag: ${{ steps.tagger.outputs.image_tag }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract short SHA
        id: sha
        run: echo "short_sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: clearnode
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/clearnode:${{ steps.sha.outputs.short_sha }}
            ghcr.io/${{ github.repository }}/clearnode:latest-main
          cache-from: type=gha
          cache-to: type=gha,mode=max
  
  # deploy-prod:
  #   name: Deploy to Prod
  #   uses: ./.github/workflows/deploy-clearnode.yaml
  #   with:
  #     target-env: prod
  #   secrets:
  #     gke-project: ${{ secrets.GKE_PROJECT }}
  #     gke-sa-key: ${{ secrets.GKE_PROD_SA_KEY }}

  # deploy-sandbox:
  #   name: Deploy to Sandbox
  #   uses: ./.github/workflows/deploy-clearnode.yaml
  #   with:
  #     target-env: sandbox
  #   secrets:
  #     gke-project: ${{ secrets.GKE_PROJECT }}
  #     gke-sa-key: ${{ secrets.GKE_SANDBOX_SA_KEY }}

  # notify-slack:
  #   name: Notify Slack
  #   runs-on: ubuntu-latest
  #   needs: [deploy-prod, deploy-sandbox, deploy-uat, test-forge, test-sdk]
  #   if: always()

  #   steps:
  #     - name: Slack Notification
  #       uses: rtCamp/action-slack-notify@v2
  #       env:
  #         SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
  #         SLACK_CHANNEL: deployments
  #         SLACK_USERNAME: CI/CD Bot
  #         SLACK_COLOR: ${{ contains(needs.*.result, 'failure') && 'failure' || contains(needs.*.result, 'cancelled') && 'cancelled' || 'success' }}
  #         SLACK_ICON_EMOJI: ${{ contains(needs.*.result, 'failure') && ':x:' || contains(needs.*.result, 'cancelled') && ':warning:' || ':white_check_mark:' }}
  #         SLACK_TITLE: 'Nitrolite Clearnode Release Candidate'
  #         SLACK_MESSAGE_ON_SUCCESS: |
  #           ✅ RC build and deployment completed successfully!
  #           ${{github.event.head_commit.message}}
  #         SLACK_MESSAGE_ON_FAILURE: |
  #           ❌ RC build or deployment failed!
  #           ${{github.event.head_commit.message}}
  #         SLACK_MESSAGE_ON_CANCEL: |
  #           ⚠️ RC build or deployment was cancelled!
  #           ${{github.event.head_commit.message}}
  #         SLACK_FOOTER: 'Nitrolite CI/CD Pipeline'

  # build-and-deploy-docs-firebase:
  #   name: Deploy to Firebase Hosting on merge
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v6

  #     - run: npm install && npm run build
  #       working-directory: erc7824-docs

  #     - uses: FirebaseExtended/action-hosting-deploy@v0
  #       with:
  #         # repoToken: ${{ secrets.GITHUB_TOKEN }}
  #         firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ERC7824 }}
  #         channelId: live
  #         projectId: erc7824
  #         entryPoint: ./erc7824-docs
